h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(40, 79, 116); 
}

#date {
    margin-top: -10px;
    font-size: small;
}

body {
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(240, 239, 241);
    margin: auto;
    padding: 5%;
}

li {
    padding: 8px;
}

main {
    margin: 30px;
}

footer {
    color: rgb(128, 127, 127);
    text-align: center;
}
header {  
    margin: auto;
    text-align: center;
}

table, th, td{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

#filstruktur { 
    width: 50%;
    align-content: center;
}