
/* Hele siden */



#container { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: -9px;
    margin-right: -9px;
    padding: 2px;
    width: 100%;
    min-height: 99vh;
}



/* Sidemenyen og dens knapper */
#sidebar { 
    display: flex;
    flex-direction: column;
    width: 30%;
}


.knapp { 
    padding: 30px;
    margin-top: 10px;
}
.knapp:hover { 
    background-color: lightgray;
} 



/* Her starter css til selve innholdet og "wrapperen" til innholdet */

#øvelsercontainer { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../img/CFR_9064.jpg");
    background-size: 100%;
    margin-top: -2px;
}


/* Wrapper for all content */
.øvelsercontent { 
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: none;
    padding-top: 30px;
    text-align: center;
}
.øvelsercontent:nth-child(1) { 
    display: none;
}
.øvelsercontent:nth-child(3) { 
    display: none;
}
.øvelsercontent:nth-child(4) { 
    display: none;
}


/* Her er hver og en av de fire content-boksene */
.topprykk { 
    background-color: none;
    margin: auto;
    width: 40%;
}
.koordinasjon { 
    background-color: none;
    margin: auto;
    width: 40%;
}
.spesifikk { 
    background-color: none;
    margin: auto;
    width: 40%;
}
.lavarbeid { 
    background-color: none;
    margin: auto;
    width: 40%;
}

/* Øvelser videoer */

.øvelsevideo { 
    width: 60%;
}