/*------HEADER STYLING-------------------------------------------------*/

.navbar {
    display: flex;
    flex-direction: row;
    margin: -8px;
    background-color: #033EA7;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Roboto-Regular', Arial, sans-serif;
}

.navbar li {
    float: left; 
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 38px;
    text-decoration: none;

}

#logo {
   padding: 1.5% 0 0 2%;
}

#logo:hover {
    background-color: #033EA7;
}

.navbar li a:hover {
    background-color: #00225E;
}

li.dropdown {
    display: inline-block;
}


.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
}

.navbar .dropdownContent a {
    color:#414141;
    padding: 14px 50px;
    display: block;
    text-align: left;

}

.navbar .dropdownContent a:hover {
    background-color: #E6E6E6;
}

.dropdown:hover .dropdownContent {
    display: block;
}

#burgerIcon, #burgerMenu{
    display: none;
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}


@media only screen and (max-width: 1200px) {

    #burgerIcon {
        display: block;
        float:right;
        margin: 2.5%;
        cursor: pointer;
    }

    .navbar {
        justify-content: space-between;
    }

    #burgerMenu {
        position: absolute;
        right: 0;
        background-color: white;
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
        padding: 20px;
    }

    #burgerMenu li {
        margin-right: 10px;
        list-style-type: none;
        text-align: left;
        margin: 15px 15px 20px 2px;
        font-size: 14pt;
    }

    #burgerMenu li a {
        text-decoration: none;
        color:  #414141;
        padding: 10px;
        
    }

    #burgerMenu a:hover {
        background-color: #E6E6E6;
    }

    .navbar li {
        display: none;
    }

    #burgerMenu hr {
        width: 150px;
        left: 0;
    }

}

@media only screen and (min-width: 1201px) {
    #burgerMenu {
        display: none !important;
    }
}


/*------FOOTER STYLING-------------------------------------------------*/

.footer-flex-container {
    display: flex;
    justify-content: center;
    background-color: #033EA7;
    color: white;
    margin: -8px;
}

.footer-item {
    margin: 2% 6%;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 700px) {
    .footer-flex-container {
        flex-direction: column;
       
    }

    .footer-item {
        margin: 7% 28% 7% 28% ;
        border-bottom: 1px solid white;
    }
}

