
/* Youtube video posisjon */
iframe {
    width: 70%;
    height: 600px;
    margin-left: 15%;
    margin-top: 5%;
    padding: auto;

}
.credit {
    font-family: Arial;
    font-size: 12pt;
    color: #414141;
    margin-left: 15%;
    margin-top: 20px;
}

/* Istagram feed posisjon */
.instagram {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
    font-size: 16pt;
    color: #033EA7;
    margin-left: 15%;
    margin-top: 100px;
}

hr {
    border-top: 3px solid #033EA7;
    width: 50%;
    margin-left: 0;
    margin-top: -20px;
    margin-bottom: 50px;
}

.instagram-media {
    margin-left: 15%;
    margin-bottom: 50px;
}

@font-face {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');

}

/* Sponsorlinje posisjoner */

#topLine {
    border-top: 3px solid #033EA7;
    padding: 0;
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 40px;
    width: 100%;
}


.column {
    float: left;
    width: 25%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

