
.column {
    left:0%;
    padding:0%;
    width: 30%;
}
  

.flex-container {
    position: absolute;
    top: 250px;
    left: 40%;
   
    
}

.flex-item {
    position: absolute;
    left: 30%;
    
}

.tittel {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
    size: 32pt;
    color: #033EA7;
    
}

@font-face {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
}

.utøver1 {
    font-family: Arial;
    font-size: 16pt;
    color: #414141;

} 


.tekst {
    font-family: Arial;
    font-size: 16pt;
    color: #414141;
    border-top: 2px solid #033EA7;
    min-width: 40ch;
    max-width: 100%;


}

