
.column {
    position: absolute;
    width: 25%;
    margin-top: -4px;
    max-width: 360px;
}

.bilde {
    margin-top: -6px;
    margin-left: -8px;
}

.flex-container {
    position: relative;
    margin: 10% 10% 5% 30%;
    width: 50%;  
}

h1 {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
    size: 32pt;
    color: #033EA7;
    line-height: 1.5em;
}

hr {
    border-top: 3px solid #033EA7;
    margin-top: -20px;
    margin-left: 0;
    width: 80%;
    margin-bottom: 3%;
}

.dato {
    font-size: 10pt;
    color: lightgrey;
}

@font-face {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
}

.resultat, .løp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #414141;
    width: 100%;
}

.resultat {
    line-height: 1em;
    margin-bottom: 100px;
    width: 100%;
} 

.løp {
    line-height: 1.5em;
    margin-bottom: 40px;
    min-width: 20ch;
    max-width: 100%;
    width: 100%;
}

.link {
    color: #414141;
}

@media screen and (max-width: 900px) {
    .flex-container {
      font-size: 70%;
      width: 70%;
    }
  }