* {
    box-sizing: border-box;
}  
  
.column {
  float: left;
  margin-left: 10%;
  max-width: 35%;
  margin-bottom: 5%;
}

#row_1 {
  margin-top: 5%;
}

h2 {
    border-bottom: 3px solid #033EA7;
    width: 100%;
}

.tekst {
  line-height: 1.5em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#skueLogo {
  margin-bottom: 30px;
}

#sbLogo {
  margin-bottom: 24px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #414141;
    
}


@media screen and (max-width: 900px) {
  .logo {
    height: auto;
    width: 100%;
  }
  .row {
    font-size: 12pt;
  }
}