body {
    background-image: url("../img/bgSprinttechnique.png");
    background-size: cover;
    background-position: center;
    color: #414141;
}


.main-flex-container {
    display: flex;
    justify-content: center;
    margin: 3% 5% 20% 10%;
}

.flex-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
    margin-right: 5%;
}

#title {
    margin-top: 10%;
    margin-left: 10%;
    color: #033EA7;
    font-family: 'Eras Demi ITC';
    font-size: 32pt;
}

@font-face {
    font-family: 'Eras Demi ITC';
    src: url('../fonts/ErasDemiITC.ttf');
}

hr {
    border-top: 3px solid #033EA7;
    width: 30%;
    margin-left: 10%;
    margin-top: -20px;
}

.flex-item li {
    margin: 8px;
}



